@charset "utf-8";

table.MsoTableGrid {
border:solid black 1.0pt;
font-size:11.0pt;
font-family:"Calibri","sans-serif";
}

p.MsoHeader {
margin:0cm;
margin-bottom:.0001pt;
tab-stops:center 8.0cm right 16.0cm;
font-size:11.0pt;
font-family:"Calibri","sans-serif";
}

p.MsoNormal {
margin-top:0cm;
margin-right:0cm;
margin-bottom:10.0pt;
margin-left:0cm;
line-height:115%;
font-size:11.0pt;
font-family:"Calibri","sans-serif";
}

td.caedu_td_white_bg {
	background-color: white;
}

table.caedu_tab_stat1 thead th{
	padding: 3px 6px;
    line-height: 18px;
}